
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

@Html.Action("PartialHeader")@*oluşturduğum partial'ı çağırmak için kullanılır.*@

<body>
    @Html.Action("PartialNavbar")
    @Html.Action("PartialFeature")
    @Html.Action("PartialAbout")
    @Html.Action("PartialService")
    @Html.Action("PartialTechnology")
    @Html.Action("PartialTopic") 
    @Html.Action("PartialCounter")
    @Html.Action("PartialProjects") 
    @Html.Action("PartialBrands")   @*Burası da dinamik olmalı!!!*@
    @Html.Action("PartialFooter")   @*Burası da dinamik olmalı!!!*@
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    @Html.Action("PartialScript")

</body>

</html>